.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  right: 0;
}
mat-toolbar {
  color: rgb(255, 255, 255);
  background-color: rgb(14, 86, 168)
}

.settings-icon {
position: absolute;
right: 10px;
}

