<router-outlet></router-outlet>
<!-- header -->
<div class="navbar">
    <div>
        <mat-toolbar class="top">
            <img src="./assets/logo1.PNG">
            <div class="settings-icon1">
                Project&nbsp;&nbsp;&nbsp;
                <mat-form-field>
                    <mat-select [(value)]="pro" (selectionChange)="test()" required>
                        <mat-option>--Select--</mat-option>
                        <div *ngFor="let projects of proj">
                            <div *ngIf="projects.CompanyId==CompLoc">
                                <mat-option [value]="projects.Name">
                                    <p>{{projects.Name}}</p>
                                </mat-option>
                            </div>
                        </div>
                    </mat-select>
                </mat-form-field>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <b>|</b>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img src="./assets/2.png" class="imgclass">
                <button mat-button [matMenuTriggerFor]="a">{{UserName}}</button>&nbsp;&nbsp;&nbsp;
                <mat-menu #a="matMenu">
                    <button mat-menu-item (click)="logout()">&nbsp;&nbsp;&nbsp;Logout&nbsp;&nbsp;&nbsp;</button>
                    <button mat-menu-item>&nbsp;&nbsp;&nbsp;Help&nbsp;&nbsp;&nbsp;</button>
                </mat-menu>
            </div>
        </mat-toolbar>
    </div>
    <div>
        <mat-toolbar>
            <div fxShow="true" fxHide.gt-sm="true">
                <button mat-icon-button (click)="sidenav.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>
            </div>
            <button mat-button [matMenuTriggerFor]="menu">
                <img src="./assets/rhytify.png">RHYTIFY</button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item routerLink="/menu/home">HOME</button>
                <button mat-menu-item routerLink="/menu/configuration">CONFIGURATION</button>
            </mat-menu>
            <div fxShow="true" fxHide.lt-md="true">
                <button mat-button [matMenuTriggerFor]="menu2">
                    <mat-icon>polymer</mat-icon> VISUALIZATION
                </button>
                <mat-menu #menu2="matMenu">
                    <button mat-menu-item routerLink="execution">EXECUTION</button>
                </mat-menu>
                <button mat-button [matMenuTriggerFor]="menu3">
                    <mat-icon>person</mat-icon> TRACEABILITY
                </button>
                <mat-menu #menu3="matMenu">
                    <button mat-menu-item routerLink="/menu/userstories">USER STORIES</button>
                    <button mat-menu-item routerLink="/menu/tasks">TASKS</button>
                    <button mat-menu-item routerLink="/menu/testcase">TEST CASES</button>
                    <button mat-menu-item>BUGS</button>
                    <button mat-menu-item routerLink="/menu/sourcecode">SOURCE CODE</button>
                    <button mat-menu-item routerLink="/menu/mapping">MAPPING</button>
                </mat-menu>
                <button mat-button [matMenuTriggerFor]="menu4">
                    <mat-icon>person</mat-icon> IMPACT ANALYSIS
                </button>
                <mat-menu #menu4="matMenu">
                    <button mat-menu-item>TFS CHANGES</button>
                    <button mat-menu-item>SVN CHANGES</button>
                    <button mat-menu-item>GIT CHANGES</button>
                </mat-menu>
            </div>
            <button mat-button class="settings-icon">
                <mat-icon>settings</mat-icon>
            </button>
        </mat-toolbar>
        <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over" opened="false" fxHide.gt-sm="true">
            <div fxLayout="column">
                <button mat-button [matMenuTriggerFor]="menu2">
                    <mat-icon>polymer</mat-icon> VISUALIZATION
                </button>
                <mat-menu #menu2="matMenu">
                    <button mat-menu-item routerLink="execution">EXECUTION</button>
                </mat-menu>
                <button mat-button [matMenuTriggerFor]="menu3">
                    <mat-icon>person</mat-icon> TRACEABILITY
                </button>
                <mat-menu #menu3="matMenu">
                    <button mat-menu-item routerLink="/menu/userstories">USER STORIES</button>
                    <button mat-menu-item routerLink="/menu/tasks">TASKS</button>
                    <button mat-menu-item routerLink="/menu/testcase">TEST CASES</button>
                    <button mat-menu-item>BUGS</button>
                    <button mat-menu-item routerLink="/menu/sourcecode">SOURCE CODE</button>
                    <button mat-menu-item routerLink="/menu/mapping">MAPPING</button>
                </mat-menu>
                <button mat-button [matMenuTriggerFor]="menu4">
                    <mat-icon>person</mat-icon> IMPACT ANALYSIS
                </button>
                <mat-menu #menu4="matMenu">
                    <button mat-menu-item>TFS CHANGES</button>
                    <button mat-menu-item>SVN CHANGES</button>
                    <button mat-menu-item>GIT CHANGES</button>
                </mat-menu>
            </div>
        </mat-sidenav>
        <br>
        <br>
    </div>
</div>

<!-- footer -->
<div class="bottom">
    <mat-toolbar class="top">
        <h1>© 2019 - My ASP.NET Application</h1>
        <div class="settings-icon">
            <img src="./assets/valuelabs.png">
        </div>
    </mat-toolbar>
</div>