<div class="main-div">
  <mat-card class="example-card">
    <div class="avatar">
      <img class="img" src="./assets/avathar.png">
    </div>
    <!-- Header -->
    <mat-card-header>
      <mat-card-title>
        Login Form
      </mat-card-title>
      <mat-card-subtitle>
        Enter the Login Credentials
      </mat-card-subtitle>
    </mat-card-header>
    <!-- Form -->
    <form #loginForm="ngForm" class="example-form">
      <!-- Company Location -->
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>&nbsp;&nbsp;&nbsp;Company Location</mat-label>
        <mat-icon matPrefix>pin_drop</mat-icon>
        <mat-select [formControl]="officeControl" (selectionChange)="test()" required>
          <mat-option>--Select--</mat-option>
          <mat-option [value]="offices" *ngFor="let offices of comploc">
            {{offices.Name}}
          </mat-option><mat-option>--Select--</mat-option>
          <mat-option [value]="offices" *ngFor="let offices of comploc">
            {{offices.Name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="officeControl.hasError('required')">Please choose a Company Location</mat-error>
      </mat-form-field>
      <!-- Project -->
      <mat-form-field class="example-full-width" appearance="outline">
        <!-- Disabled -->
        <mat-label>&nbsp;&nbsp;&nbsp;Project</mat-label>
        <mat-icon matPrefix>assignment</mat-icon>
        <div *ngIf="!model.companyLocation">
          <mat-select disabled="disabled" required>
          </mat-select>
        </div>
        <!-- Enabled -->
        <div *ngIf="model.companyLocation">
          <mat-select [formControl]="projectControl" (selectionChange)="test1()" required>
            <mat-option>--Select--</mat-option>
            <div *ngFor="let projects of proj">
              <mat-option [value]="projects" *ngIf="projects.CompanyId==officeControl.value.Id">
                {{projects.Name}}
              </mat-option>
            </div>
          </mat-select>
        </div>
      </mat-form-field>
      <!-- UserName -->
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>&nbsp;&nbsp;&nbsp;User Name</mat-label><mat-icon matPrefix>supervised_user_circle</mat-icon>
        <input [(ngModel)]='model.username' name="uid" required matInput [formControl]="emailFormControl">
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Email is
          <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <!-- Password -->
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>&nbsp;&nbsp;&nbsp;Password</mat-label>
        <mat-icon matPrefix>lock</mat-icon>
        <input [(ngModel)]='model.password' name="password" matInput placeholder="Password" [formControl]="passFormControl" [type]="hide ? 'password' : 'text'"
          required>
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-error *ngIf="passFormControl.hasError('required')">
          Password is
          <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <!-- Submit Button -->
      <!-- Disable -->
      <div *ngIf="!model.username || !model.password || !officeControl.value || !model.project">
        <button [disabled]="loginForm.valid" mat-raised-button class="a">Login</button>
      </div>
      <!-- Enable -->
      <div *ngIf="model.username && model.password && officeControl.value && model.project">
        <button [disabled]="!loginForm.valid" mat-raised-button class="a" color="primary" (click)="sendReq()">Login</button>
      </div>
    </form>
  </mat-card>
</div>