<!-- <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="32px" fxLayoutAlign="flex-start" class="one">
  <ng-container *ngFor="let cardDetail of cardDetails">
    <div >
      <div fxFlex.lt-sm="100%" class="host">
        
        
        <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image">   
                <img src="./assets/{{cardDetail.img}}.png">
            </div>
            <mat-card-title>{{cardDetail.name}}</mat-card-title>
          </mat-card-header>

          <br>

          <mat-divider></mat-divider>

          <br>
          <br>

          <mat-card-content>
            <p>
              {{cardDetail.content}}
            </p>
          </mat-card-content>

          <br>

          <mat-card-actions *ngIf="cardDetail.rad">
            &nbsp;&nbsp;&nbsp;
            <mat-radio-group *ngFor="let i of cardDetail.norad">
              <mat-radio-button value="i">
                {{cardDetail.radname[i-1]}}
              </mat-radio-button>
              &nbsp;&nbsp;&nbsp;
            </mat-radio-group>
          </mat-card-actions>

        <br>
        
        </mat-card>
      
      
      </div>
    </div>
  </ng-container>
</div> -->

<div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="32px" fxLayoutAlign="flex-start" class="one">
  <!-- 1 -->
  <ng-container>
    <div fxFlex.lt-sm="100%" class="host">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image">
            <img src="./assets/1.png">
          </div>
          <mat-card-title>Source Control</mat-card-title>
        </mat-card-header>
        <br>
        <mat-divider></mat-divider>
        <br>
        <br>
        <mat-card-content>
          <p>
            Configure the external system that is the Source Control.
          </p>
        </mat-card-content>
        <br>
        <mat-card-actions>
          &nbsp;&nbsp;&nbsp;
          <mat-radio-group>
            <mat-radio-button value="1" checked="true" color="primary">TFS</mat-radio-button> &nbsp;&nbsp;&nbsp;
            <mat-radio-button value="2" color="primary">GIT</mat-radio-button> &nbsp;&nbsp;&nbsp;
            <mat-radio-button value="3" color="primary">SVN</mat-radio-button>
          </mat-radio-group>
        </mat-card-actions>
        <br>
      </mat-card>
    </div>
  </ng-container>
  <!-- 2 -->
  <ng-container>
    <div fxFlex.lt-sm="100%" class="host">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image">
            <img src="./assets/2.png">
          </div>
          <mat-card-title>User Story</mat-card-title>
        </mat-card-header>
        <br>
        <mat-divider></mat-divider>
        <br>
        <br>
        <mat-card-content>
          <p>
            Configure the external system that hosts the User Stories.
          </p>
        </mat-card-content>
        <br>
        <mat-card-actions>
          &nbsp;&nbsp;&nbsp;
          <mat-radio-group>
            <mat-radio-button value="1" checked="true" color="primary">TFS</mat-radio-button> &nbsp;&nbsp;&nbsp;
            <mat-radio-button value="2" color="primary">RHYTIFY</mat-radio-button>
          </mat-radio-group>
        </mat-card-actions>
        <br>
      </mat-card>
    </div>
  </ng-container>
  <!-- 3 -->
  <ng-container>
    <div fxFlex.lt-sm="100%" class="host">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image">
            <img src="./assets/3.png">
          </div>
          <mat-card-title>Task</mat-card-title>
        </mat-card-header>
        <br>
        <mat-divider></mat-divider>
        <br>
        <br>
        <mat-card-content>
          <p>
            Configure the external system that hosts the Tasks.
          </p>
        </mat-card-content>
        <br>
        <mat-card-actions>
          &nbsp;&nbsp;&nbsp;
          <mat-radio-group>
            <mat-radio-button value="1" checked="true" color="primary">TFS</mat-radio-button> &nbsp;&nbsp;&nbsp;
            <mat-radio-button value="2" color="primary">RHYTIFY</mat-radio-button>
          </mat-radio-group>
        </mat-card-actions>
        <br>
      </mat-card>
    </div>
  </ng-container>
  <!-- 4 -->
  <ng-container>
    <div fxFlex.lt-sm="100%" class="host">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image">
            <img src="./assets/4.png">
          </div>
          <mat-card-title>Test Case Management</mat-card-title>
        </mat-card-header>
        <br>
        <mat-divider></mat-divider>
        <br>
        <br>
        <mat-card-content>
          <p>
            Configure the external system that hosts the Test Cases.
          </p>
        </mat-card-content>
        <br>
        <mat-card-actions>
          &nbsp;&nbsp;&nbsp;
          <mat-radio-group>
            <mat-radio-button value="1" checked="true" color="primary">TFS</mat-radio-button> &nbsp;&nbsp;&nbsp;
            <mat-radio-button value="2" color="primary">RHYTIFY</mat-radio-button> &nbsp;&nbsp;&nbsp;
            <mat-radio-button value="3" color="primary">UTMS</mat-radio-button>
          </mat-radio-group>
        </mat-card-actions>
        <br>
      </mat-card>
    </div>
  </ng-container>
  <!-- 5 -->
  <ng-container>
    <div fxFlex.lt-sm="100%" class="host">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image">
            <img src="./assets/5.png">
          </div>
          <mat-card-title>Bugs</mat-card-title>
        </mat-card-header>
        <br>
        <mat-divider></mat-divider>
        <br>
        <br>
        <mat-card-content>
          <p>
            Configure the external system that hosts the Bugs.
          </p>
        </mat-card-content>
        <br>
        <mat-card-actions>
          &nbsp;&nbsp;&nbsp;
          <mat-radio-group>
            <mat-radio-button value="1" checked="true" color="primary">TFS</mat-radio-button> &nbsp;&nbsp;&nbsp;
            <mat-radio-button value="2" color="primary">RHYTIFY</mat-radio-button>
          </mat-radio-group>
        </mat-card-actions>
        <br>
      </mat-card>
    </div>
  </ng-container>
  <!-- 6 -->
  <ng-container>
    <div fxFlex.lt-sm="100%" class="host">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image">
            <img src="./assets/6.png">
          </div>
          <mat-card-title>TFS Configuration</mat-card-title>
        </mat-card-header>
        <br>
        <mat-divider></mat-divider>
        <br>
        <br>
        <mat-card-content>
          <p>
            Configure the external system that is the Source Control.
          </p>
        </mat-card-content>
        <mat-card-actions>
          &nbsp;&nbsp;&nbsp;
          <div class="example-container">
            <mat-form-field>
              <input matInput value="http://10.10.72.57:8080/tfs" placeholder="TFS URL ">
            </mat-form-field>
            <mat-form-field>
              <input matInput value="corp.ads.valuelabs.net" placeholder="TFS Domain ">
            </mat-form-field>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </ng-container>
  <!-- 7 -->
  <ng-container>
    <div fxFlex.lt-sm="100%" class="host">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image">
            <img src="./assets/7.png">
          </div>
          <mat-card-title>GIT Configuration</mat-card-title>
        </mat-card-header>
        <br>
        <mat-divider></mat-divider>
        <br>
        <br>
        <mat-card-content>
          <p>
            Provide the GIT parameter values to connect to GIT.
          </p>
        </mat-card-content>
        <mat-card-actions>
          &nbsp;&nbsp;&nbsp;
          <div class="example-container">
            <mat-form-field>
              <input matInput placeholder="GIT URL">
            </mat-form-field>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </ng-container>
  <!-- 8 -->
  <ng-container>
    <div fxFlex.lt-sm="100%" class="host">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image">
            <img src="./assets/8.png">
          </div>
          <mat-card-title>SVN Configuration</mat-card-title>
        </mat-card-header>
        <br>
        <mat-divider></mat-divider>
        <br>
        <br>
        <mat-card-content>
          <p>
            Provide the SVN parameter values to connect to SVN.
          </p>
        </mat-card-content>
        <mat-card-actions>
          &nbsp;&nbsp;&nbsp;
          <div class="example-container">
            <mat-form-field>
              <input matInput placeholder="SVN URL">
            </mat-form-field>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </ng-container>
  <!-- 9 -->
  <ng-container>
    <div fxFlex.lt-sm="100%" class="host">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image">
            <img src="./assets/9.png">
          </div>
          <mat-card-title>UTMS Configuration</mat-card-title>
        </mat-card-header>
        <br>
        <mat-divider></mat-divider>
        <br>
        <br>
        <mat-card-content>
          <p>
            Provide UTMS URL.
          </p>
        </mat-card-content>
        <mat-card-actions>
          &nbsp;&nbsp;&nbsp;
          <div class="example-container">
            <mat-form-field>
              <input matInput placeholder="UTMS URL">
            </mat-form-field>
            <mat-form-field>
              <mat-select placeholder="Select">
                <mat-option value="option">Option</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </ng-container>
  <!-- </div> -->
</div>