<div>
    <mat-toolbar >
    <div fxShow="true" fxHide.gt-sm="true">
            <button mat-icon-button (click)="sidenav.toggle()">
              <mat-icon>menu</mat-icon>
             </button>
    </div>

    <button mat-button [matMenuTriggerFor]="menu">RHYTIFY</button>
    <mat-menu #menu="matMenu" >
      <button mat-menu-item >HOME</button>
      <button mat-menu-item (click)="fun()">CONFIGURATION</button>
    </mat-menu>


    <div fxShow="true" fxHide.lt-md="true">
            <button mat-button [matMenuTriggerFor]="menu2">
                    <mat-icon>polymer</mat-icon> VISUALIZATION</button>
                    <mat-menu #menu2="matMenu">
                        <button mat-menu-item>EXECUTION</button>
                    </mat-menu>
            <!-- <button mat-button> <mat-icon >polymer</mat-icon> VISUALIZATION</button> -->
            <!-- <button mat-button> <mat-icon>person</mat-icon> TRACEABILITY</button> -->
            <!--  <button mat-button> <mat-icon>show_chart</mat-icon> IMPACT ANALYSIS</button> -->
            <button mat-button [matMenuTriggerFor]="menu3">
                <mat-icon>person</mat-icon> TRACEABILITY
            </button>
            <mat-menu #menu3="matMenu">
                <button mat-menu-item>USER STORIES</button>
                <button mat-menu-item>TASKS</button>
                <button mat-menu-item>TEST CASES</button>
                <button mat-menu-item>BUGS</button>
                <button mat-menu-item>SOURCE CODE</button>
                <button mat-menu-item>MAPPING</button>
            </mat-menu>
            <button mat-button [matMenuTriggerFor]="menu4">
                    <mat-icon>person</mat-icon> IMPACT ANALYSIS
                </button>
                <mat-menu #menu4="matMenu">
                    <button mat-menu-item>TFS CHANGES</button>
                    <button mat-menu-item>SVN CHANGES</button>
                    <button mat-menu-item>GIT CHANGES</button>
                </mat-menu>
            </div>
        
            <button mat-button class="settings-icon"> <mat-icon>settings</mat-icon></button>

</mat-toolbar>
<mat-sidenav color="primary" #sidenav fxLayout="column" mode="over"  opened="false" fxHide.gt-sm="true">
<div fxLayout="column">
    
    <!-- <button mat-button> <mat-icon svgIcon="icon-v"></mat-icon> VISUALIZATION</button>
    <button mat-button> <mat-icon>person</mat-icon> TRACEABILITY</button>
    <button mat-button> <mat-icon>show_chart</mat-icon> IMPACT ANALYSIS</button> -->
    <button mat-button [matMenuTriggerFor]="menu2">
            <mat-icon>polymer</mat-icon> VISUALIZATION</button>
            <mat-menu #menu2="matMenu">
                <button mat-menu-item>EXECUTION</button>
            </mat-menu>
    <button mat-button [matMenuTriggerFor]="menu3">
        <mat-icon>person</mat-icon> TRACEABILITY
    </button>
    <mat-menu #menu3="matMenu">
        <button mat-menu-item>USER STORIES</button>
        <button mat-menu-item>TASKS</button>
        <button mat-menu-item>TEST CASES</button>
        <button mat-menu-item>BUGS</button>
        <button mat-menu-item>SOURCE CODE</button>
        <button mat-menu-item>MAPPING</button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="menu4">
            <mat-icon>person</mat-icon> IMPACT ANALYSIS
        </button>
        <mat-menu #menu4="matMenu">
            <button mat-menu-item>TFS CHANGES</button>
            <button mat-menu-item>SVN CHANGES</button>
            <button mat-menu-item>GIT CHANGES</button>
        </mat-menu>
</div>
</mat-sidenav><br><br>

        <home *ngIf="first || !name"></home>   

        <page3 *ngIf="name"></page3>

</div>
