.mytext{
    text-overflow: ellipsis;    
 }

 .button{
    margin-top:27%;
    display: flex;
    justify-content: space-between;
    width:70%;  
    position: absolute;
}
.grid-2{
    position: relative;
    max-width: 75%;
    margin-top:-15%;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-color: rgb(112, 109, 109);
    border-radius: 7px;
    align-items: center;
    background-color: white;
}
.main{
     margin-top: 10%;
     margin-bottom: 10%;
 }
 .h{
     background-color: rgb(18, 101, 156);
 }
.grid-top {
   position: relative;
   max-width: 60%;
   margin-top:5%;
   left:20%; 
 }
 mat-card {
    width:80%;
 }
.grid-1{
   position: relative;
   max-width: 60%;
   margin-top:5%;
   left:20%; 
 }