.mytext{
    text-overflow: ellipsis;    
 }

 .button{
    margin-top:27%;
    display: flex;
    justify-content: space-between;
    width:70%;  
    position: absolute;
}

.one {
    position: relative;
    max-width: 60%;
    margin-top:200px;
    left:20%; 
  }


.grid-2{
    position: relative;
    max-width: 75%;
    margin-top:-150px;
    left:12.5%;
    background-color: rgb(252, 252, 252);
    border-color: rgba(16, 45, 126, 0.911);
    border-radius: 8px;
    border-style: solid;
}
.grid-3{
    position: relative;
    max-width: 75%;
    margin-top:200px;
    left:12.5%; 
    background-color: rgb(252, 252, 252);
    border-color: rgba(16, 45, 126, 0.911);
    border-radius: 8px;
    border-style: solid;
}
.main{
     margin-top: 10%;
     margin-bottom: 10%;
 }
 p{
     color: white;
     font-size: 22.5 px;
     font-weight: bold;
     font-family: Arial;
     
 }
 .h{
     background-color: rgba(16, 45, 126, 0.911);
 }
.grid-top {
   position: relative;
   max-width: 60%;
   margin-top:5%;
   left:20%; 
 }
 mat-card {
    width:80%;
 }
 input{
     min-width: 100px;
 }
 /* sd vfxdb */

