<div class="main">
    <div *ngIf="abc>=968" (window:resize)="onResize($event)">
        <mat-grid-list cols="4" rowHeight=" 2:1" class="one">
            <mat-grid-tile *ngFor="let cardDetail of config; let i = index; let j = index;">
                <mat-card *ngIf="j < 4">
                    <mat-card-content>
                        <img src="./assets/{{j+1}}.png"> &nbsp; &nbsp;{{cardDetail.Key}} &nbsp;&nbsp;
                        <br> &nbsp;&nbsp;
                        <div *ngIf="cardDetail.Options[0]">
                            <div class="div-options" style="text-align: center" *ngIf="cardDetail.Options[0].Value== 1">
                                <b>{{cardDetail.Options[0].key}}</b>
                            </div>
                        </div>
                        <div *ngIf="cardDetail.Options[1]">
                            <div class="div-options" style="text-align: center" *ngIf="cardDetail.Options[1].Value== 1">
                                <b>{{cardDetail.Options[1].key}}</b>
                            </div>
                        </div>
                        <div *ngIf="cardDetail.Options[2]">
                            <div class="div-options" style="text-align: center" *ngIf="cardDetail.Options[2].Value== 1">
                                <b>{{cardDetail.Options[2].key}}</b>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>


        <!-- jvckwenvuivnweuidvnwiyvsdy -->


        <mat-grid-list class="grid-2" cols="6" rowHeight='88px' align="center" [cols]="breakpoint" (window:resize)="onResize($event)">
            <mat-grid-tile [colspan]="6" [rowspan]="1" class="h">
                <p>EXECUTION</p>
            </mat-grid-tile>
            <mat-grid-tile>Execution Name</mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field appearance="outline" class="example-full-width">
                    <input matInput class="mytext" autofocus="autofocus">
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>{{exec[0].key}}</mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-select >
                        <mat-option>--Select--</mat-option>
                        <div *ngFor="let something of exec; let i=index">
                            <mat-option *ngIf="i<2" [value]=exec[0].Value[i]>
                                {{exec[0].Value[i].key}}
                            </mat-option>
                        </div>
                    </mat-select>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>Input Folder Path</mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <input matInput class="mytext">
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>{{exec[1].key}}</mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-select>
                        <mat-option>--Select--</mat-option>
                        <div *ngFor="let something of exec; let i=index">
                            <mat-option *ngIf="i<2" [value]=exec[1].Value[i]>
                                {{exec[1].Value[i].key}}
                            </mat-option>
                        </div>
                    </mat-select>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>{{exec[2].key}}</mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-select>
                        <mat-option>--Select--</mat-option>
                        <div *ngFor="let something of exec; let i=index">
                            <mat-option *ngIf="i<2" [value]=exec[2].Value[i]>
                                {{exec[2].Value[i].key}}
                            </mat-option>
                        </div>
                    </mat-select>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>Output Folder Path</mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <input matInput class="mytext" autofocus="autofocus">
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="2" [rowspan]="1">
                <button mat-raised-button color="primary" title="Hit the Parse Code Button after providing the input to Parse the code">Parse Code</button>
            </mat-grid-tile>
            <mat-grid-tile *ngIf="breakpoint==6" [colspan]="2" [rowspan]="1"></mat-grid-tile>
            <mat-grid-tile [colspan]="2" [rowspan]="1">
                <button mat-raised-button color="primary" title="Hit the Generate Sequence Diagram Button after Parsing">Generate Sequence Diagram</button>
            </mat-grid-tile>
        </mat-grid-list>














    </div>
    <div *ngIf="abc<968" (window:resize)="onResize($event)">

        <mat-grid-list class="grid-3" cols="6" rowHeight='88px' align="center" [cols]="breakpoint" (window:resize)="onResize($event)">
            <mat-grid-tile [colspan]="2" [rowspan]="1" class="h">
                <p>EXECUTION</p>
            </mat-grid-tile>
            <mat-grid-tile *ngIf="breakpoint==6" [colspan]="2" [rowspan]="1" class="h">

            </mat-grid-tile>
            <mat-grid-tile *ngIf="breakpoint==6" [colspan]="2" [rowspan]="1" class="h">

            </mat-grid-tile>
            <mat-grid-tile>Execution Name</mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field appearance="outline" class="example-full-width">
                    <input matInput class="mytext" autofocus="autofocus">
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>{{exec[0].key}}</mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-select>
                        <mat-option>--Select--</mat-option>
                        <div *ngFor="let something of exec; let i=index">
                            <mat-option *ngIf="i<2" [value]=exec[0].Value[i]>
                                {{exec[0].Value[i].key}}
                            </mat-option>
                        </div>
                    </mat-select>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>Input Folder Path</mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <input matInput class="mytext">
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>{{exec[1].key}}</mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-select>
                        <mat-option>--Select--</mat-option>
                        <div *ngFor="let something of exec; let i=index" >
                            <mat-option *ngIf="i<2" [value]=exec[1].Value[i]>
                                {{exec[1].Value[i].key}}
                            </mat-option>
                        </div>
                    </mat-select>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>{{exec[2].key}}</mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-select>
                        <mat-option>--Select--</mat-option>
                        <div *ngFor="let something of exec; let i=index">
                            <mat-option *ngIf="i<2" [value]=exec[2].Value[i]>
                                {{exec[2].Value[i].key}}
                            </mat-option>
                        </div>
                    </mat-select>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>Output Folder Path</mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <input matInput class="mytext" autofocus="autofocus">
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="2" [rowspan]="1">
                <button mat-raised-button color="primary" title="Hit the Parse Code Button after providing the input to Parse the code">Parse Code</button>
            </mat-grid-tile>
            <mat-grid-tile *ngIf="breakpoint==6" [colspan]="2" [rowspan]="1"></mat-grid-tile>
            <mat-grid-tile [colspan]="2" [rowspan]="1">
                <button mat-raised-button color="primary" title="Hit the Generate Sequence Diagram Button after Parsing">Generate Sequence Diagram</button>
            </mat-grid-tile>
        </mat-grid-list>
    </div>

</div>