<div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="32px" fxLayoutAlign="flex-start" class="one">
  <!-- 1 -->
  <ng-container>
    <div fxFlex.lt-sm="100%" class="host">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Code Files</mat-card-title>
          <div class="a">
            <mat-icon>refresh</mat-icon>&nbsp;
            <mat-icon>visibility</mat-icon>
          </div>
        </mat-card-header>
        <br>
        <mat-divider></mat-divider>
        <br>
        <br>
        <mat-card-content>
          <div mat-card-avatar class="example-header-image">
            <img src="./assets/11.svg">
          </div>

        </mat-card-content>
      </mat-card>
    </div>
  </ng-container>
  <!-- 2 -->
  <ng-container>
    <div fxFlex.lt-sm="100%" class="host">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>User Stories</mat-card-title>
          <div class="a">
            <mat-icon>refresh</mat-icon>&nbsp;
            <mat-icon>visibility</mat-icon>
          </div>
        </mat-card-header>
        <br>
        <mat-divider></mat-divider>
        <br>
        <br>
        <mat-card-content>
          <div mat-card-avatar class="example-header-image">
            <img src="./assets/12.svg">
          </div>

        </mat-card-content>
      </mat-card>
    </div>
  </ng-container>
  <!-- 3 -->
  <ng-container>
    <div fxFlex.lt-sm="100%" class="host">
      <mat-card class="example-card">
        <mat-card-header>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <mat-card-title>Tasks</mat-card-title>
          <mat-icon class="a">refresh</mat-icon>&nbsp;&nbsp;&nbsp;
          <mat-icon>visibility</mat-icon>
        </mat-card-header>
        <br>
        <mat-divider></mat-divider>
        <br>
        <br>
        <mat-card-content>
          <div mat-card-avatar class="example-header-image">
            <img src="./assets/13.svg">
          </div>

        </mat-card-content>
      </mat-card>
    </div>
  </ng-container>
  <!-- 4 -->
  <ng-container>
    <div fxFlex.lt-sm="100%" class="host">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Test Cases</mat-card-title>
          <div class="a">
            <mat-icon>refresh</mat-icon>&nbsp;
            <mat-icon>visibility</mat-icon>
          </div>
        </mat-card-header>
        <br>
        <mat-divider></mat-divider>
        <br>
        <br>
        <mat-card-content>
          <div mat-card-avatar class="example-header-image">
            <img src="./assets/14.svg">
          </div>

        </mat-card-content>
      </mat-card>
    </div>
  </ng-container>
  <!-- 5 -->
  <ng-container>
    <div fxFlex.lt-sm="100%" class="host">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Source Control</mat-card-title>
          <div class="a">
            <mat-icon>edit</mat-icon>
          </div>
        </mat-card-header>
        <br>
        <mat-divider></mat-divider>
        <br>
        <br>
        <mat-card-content>
          <div mat-card-avatar class="example-header-image">
            <img src="./assets/15.svg">
          </div>

        </mat-card-content>
      </mat-card>
    </div>
  </ng-container>
  <!-- 6 -->
  <ng-container>
    <div fxFlex.lt-sm="100%" class="host">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>User Story</mat-card-title>
          <div class="a">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <mat-icon>edit</mat-icon>
          </div>
        </mat-card-header>
        <br>
        <mat-divider></mat-divider>
        <br>
        <br>
        <mat-card-content>
          <div mat-card-avatar class="example-header-image">
            <img src="./assets/16.svg">
          </div>

        </mat-card-content>
      </mat-card>
    </div>
  </ng-container>
  <!-- 7 -->
  <ng-container>
    <div fxFlex.lt-sm="100%" class="host">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Task</mat-card-title>
          <div class="a">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <mat-icon>edit</mat-icon>
          </div>
        </mat-card-header>
        <br>
        <mat-divider></mat-divider>
        <br>
        <br>
        <mat-card-content>
          <div mat-card-avatar class="example-header-image">
            <img src="./assets/17.svg">
          </div>

        </mat-card-content>
      </mat-card>
    </div>
  </ng-container>
  <!-- 8 -->
  <ng-container>
    <div fxFlex.lt-sm="100%" class="host">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Test Case</mat-card-title>
          <div class="a">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <mat-icon>edit</mat-icon>
          </div>
        </mat-card-header>
        <br>
        <mat-divider></mat-divider>
        <br>
        <br>
        <mat-card-content>
          <div mat-card-avatar class="example-header-image">
            <img src="./assets/18.svg">
          </div>

        </mat-card-content>
      </mat-card>
    </div>
  </ng-container>


</div>